:root {
    --text-color: #000;
  }

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    justify-content: center;
    align-items: center;
    min-height: 100vh;
}

header {
    width: 100%;
    text-align: center;
}

.timeline {
    position: relative;
    margin: 0;
    padding: 20px;
}

.timeline:before {
    content: '';
    position: absolute;
    width: 2px;
    background-color: var(--text-color);
    top: 0;
    bottom: 0;
    left: 50%;
    margin-left: -1px;
}

.entry {
    margin-bottom: 20px;
    position: relative;
    width: calc(50% + 1px);
    padding-right: 20px;
    text-align: right;
}

.entry .date {
    font-size: 0.9rem;
    color: var(--text-color);
}

.entry .description {
    display: inline-block;
}

.entry:nth-child(even) {
    left: calc(50% - 1px);
    text-align: left;
    padding-left: 20px;
    padding-right: 0;
}

.entry:before {
    content: '';
    position: absolute;
    width: 10px;
    height: 10px;
    right: -4px;
    background-color: var(--text-color);
    border-radius: 50%;
    top: 10px;
}

.entry:nth-child(even):before {
    left: -4px;
    right: auto;
}