:root {
    --text-default-color: #2e3440;
    --link-hover-color: #434c5e;
    --border-color: #4c566a;
}

body {
    background-color: #eceff4;
    color: var(--text-default-color);
}

header {
    justify-items: center;
}

.timeline {
    position: relative;
    margin: 20px 0;
    padding: 0;
}

.timeline::before {
    content: "";
    position: absolute;
    width: 2px;
    background-color: var(--border-color);
    top: 0;
    bottom: 0;
    left: 50%;
    margin-left: -1px;
}

.entry {
    margin-bottom: 20px;
    position: relative;
    width: calc(50%+1px);
    padding-right: 20px;
    text-align: right;
}

.entry:nth-child(even) {
    left: calc(50%-1px);
    text-align: left;
    padding-left: 30px;
    padding-right: 0;
}

.marker {
    display: inline-block;
    width: 12px;
    height: 12px;
    background-color: #333;
    border-radius: 50%;
    margin-right: 20px;
    position: relative;
}
