:root {
    --text-default-color: #2e3440;
    --link-hover-color: #434c5e;
    --border-color: #4c566a;
}

body {
    background-color: #eceff4;
    color: var(--text-default-color);
}

.entry {
    display: flex;
    margin: 1em 20% 1em;
}

.entry * {
    border: solid red;
    padding: 4px;
    margin: 4px;
}

.entry p + p {
    border-left: solid green;
}
