:root {
    --text-default-color: #2e3440;
    --link-hover-color: #434c5e;
    --border-color: #4c566a;
}

body {
    /* background-color: #90E0EF; */
    background-color: #eceff4;
    color: var(--text-default-color);
}

header {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    padding-bottom: 4px;
    border-bottom: 2px solid var(--border-color);
}

header img {
    border-radius: 50%;
    margin-right: 12px;
}

header nav {
    margin-left: auto;
    margin-right: 5%;
}

header nav > * {
    border: 2px solid var(--border-color);
    border-radius: 20%;
    padding: 4px;
    font-size: 1.5em;
    margin: 4px;
    color: var(--text-default-color);
    text-decoration: none;
}

nav a:hover {
    color: var(--link-hover-color);
    background-color: var(--border-color);
}

nav a:visited {
    text-decoration: none;
    color: var(--text-default-color);
}

main {
    display: flex;
    justify-content: flex-start;
}

h1 {
    font-family: "Urbanist", sans-serif;
    font-optical-sizing: auto;
    font-weight: normal;
    font-style: normal;
}

h2 {
    font-family: "Urbanist", sans-serif;
    font-optical-sizing: auto;
    font-weight: bold;
    font-style: normal;
}

p {
    font-family: "Ubuntu Sans", sans-serif;
    font-optical-sizing: auto;
    font-weight: normal;
    font-style: normal;
    font-variation-settings: "wdth" 100;
}

.directory {
    margin-left: 4px;
    padding-right: 8px;
    border-right: 2px solid var(--border-color);
    min-width: 15%;
}

.directory a {
    display: block;
    padding-left: 10%;
    font-size: 1.25em;
    text-decoration: none;
    color: var(--text-default-color);
}

.directory a:hover {
    color: var(--link-hover-color);
    background-color: var(--border-color);
    border-radius: 15%;
}

.directory a:visited {
    text-decoration: none;
    color: var(--text-default-color);
}

.main-section {
    margin-left: 2em;
}

.contact-form {
    display: flex;
    flex-direction: column;
    margin: 8px;
    margin-left: 15%;
}

.form-section {
    display: grid;
    grid-template-columns: 5em 16em;
    padding-bottom: 2%;
}

.form-section > input {
    align-self: right;
}

.submit {
    grid-column: 2;
}

footer {
    border-top: 2px solid var(--border-color);
}

footer > * {
    margin-left: 15%;
    margin-top: 0.25em;
    margin-bottom: 0;
}

.links > * {
    display: inline-block;
}

.links a {
    font-size: 0.75em;
}

.links i {
    font-size: 2em;
}

.copyright > * {
    display: inline-block;
    margin-top: 0;
    margin-bottom: 1em;
}

.copyright p {
    margin-left: 0.5em;
}

@media screen and (max-width: 1180px) {
    header nav {
        display: flex;
        flex-direction: column;
        flex-shrink: 0;
    }

    header nav > * {
        margin: 4px;
    }

    main {
        display: flex;
        flex-direction: column;
    }

    .directory {
        min-width: min-content;
        border-right: 0;
        border-bottom: 2px solid var(--border-color);
    }
}
